body {
    font-family: 'Roboto', sans-serif;
    background-color: #bdd1c5;
    text-decoration: none;
    text-align: center;
}

a {
    margin-top: 30px;
    border-width: 20px;
}

a:link,
a:visited {
    text-decoration: none;
}